//
// Fonts
// --------------------------------------------------


// Conduit
// --------------------------------------------------

@font-face {
  font-family: "Conduit";
  src: url("../fonts/conduit_itc_light.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Conduit";
  src: url("../fonts/conduit_itc_medium.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Conduit";
  src: url("../fonts/conduit_itc_bold.woff") format("woff");
  font-weight: 900;
}

