//
// Navbars
// --------------------------------------------------


// Main navbar

.navbar-main {
  background-color: $body-bg;
  border: none;

  .navbar-brand {
    color: $gray-light;
    &:hover,
    &:focus {
      color: $brand-primary;
      background: none;
    }
  }

  .navbar-text {
    color: $gray-light;
  }

  .navbar-nav {
    > li > a {
      color: $gray-light;

      &:hover,
      &:focus {
        color: $brand-primary;
        background: none;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $brand-primary;
        background: none;
      }
    }
  }

  .navbar-toggle {
    border: none;
    &:hover,
    &:focus {
      background-color: $body-bg;
      .icon-bar {
        background-color: $brand-primary;
      }
    }
    .icon-bar {
      background-color: $gray-light;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $gray-lighter;
  }

  // Dropdowns
  .navbar-nav {
    > .open > .dropdown-menu {
      border: none;
      > li > a {
        &:hover,
        &:focus {
          color: $brand-primary;
          background: none;
        }
      }
    }

    > .open > a {
      &,
      &:hover,
      &:focus {
        background: none;
        color: $brand-primary;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > li > a {
          color: $gray-light;
          &:hover,
          &:focus {
            color: $brand-primary;
            background: none;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $brand-primary;
            background: none;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $gray-light;
    &:hover {
      color: $brand-primary;
    }
  }

  .btn-link {
    color: $gray-light;
    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
}