//
// Races
// --------------------------------------------------

.race-header {
  margin-top: $line-height-computed*2;
  margin-bottom: $line-height-computed*2;

  .race-header-flag {
    float: left;
    width: 68px;
    margin-right: $padding-large-horizontal;
  }

  .race-header-title {
    margin: 0;
    font-size: $font-size-large;
    font-weight: 700;
  }

  .race-header-subtitle {
    margin: 0;
    font-size: $font-size-base;
    color: $text-muted;
  }
}

.circuit-info {

  .circuit-info-header {
    margin: 0;
    font-size: $font-size-large;
    font-weight: 700;
  }

  .circuit-data {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;

    .circuit-info-title,
    .circuit-info-value {
      font-size: $font-size-base;
    }

    .circuit-info-title {
      margin-top: 0;
      color: $text-muted;
    }

    .circuit-info-value {
      font-weight: 700;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    .circuit-data {
      display: table;
      .circuit-data-item {
        display: table-cell;
        padding-right: $line-height-computed*2;
      }
    }
  }
}