//
// Signin
// --------------------------------------------------

#signin {
  margin-top: 50px;

  h1 {
    font-size: $font-size-large * 1.5;
    text-align: center;
  }

  #reset-pw {
    padding-top: 15px;
    margin-bottom: 0;
    text-align: right;
    > a {
      text-decoration: none;
      color: $text-muted;

      &:hover,
      &:active {
        color: $brand-primary;
      }
    }
  }

  @media (min-width: $grid-float-breakpoint-max) {
    margin-top: 150px;
  }
}