//
// Standings
// --------------------------------------------------

.list-standings {
  display: table;
  list-style-type: none;
  counter-reset: position-counter;
  margin-bottom: $line-height-computed;
  padding: 0;
  width: 100%;
  > li {
    display: table-row;
    > span,
    &:before {
      display: table-cell;
      padding: $padding-large-vertical $padding-large-horizontal;
    }
    > span {
      &.name {
        font-weight: 700;
      }
      &.nationality,
      &.constructor,
      &.car {
        display: none;
      }
      &.nationality > img {
        height: 22px;
      }
      &.constructor {
        color: $text-muted;
      }
      &.car > img {
        height: 28px;
      }
      &.points {
        font-weight: 700;
        text-align: right;
      }
    }
    &:before {
      counter-increment: position-counter;
      content: counter(position-counter);
      text-align: right;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    > li > span.nationality,
    > li > span.constructor,
    > li > span.car {
      display: table-cell;
    }
  }
}