//
// Type
// --------------------------------------------------

// Colors
// -------------------------

.text-turquoise {
  color: $turquoise;
}

.text-green-sea {
  color: $green-sea;
}

.text-emerald {
  color: $emerald;
}

.text-nephritis {
  color: $nephritis;
}

.text-peter-river {
  color: $peter-river;
}

.text-belize-hole {
  color: $belize-hole;
}

.text-amethyst {
  color: $amethyst;
}

.text-wisteria {
  color: $wisteria;
}

.text-wet-asphalt {
  color: $wet-asphalt;
}

.text-midnight-blue {
  color: $midnight-blue;
}

.text-sun-flower {
  color: $sun-flower;
}

.text-orange {
  color: $orange;
}

.text-carrot {
  color: $carrot;
}

.text-pumpkin {
  color: $pumpkin;
}

.text-alizarin {
  color: $alizarin;
}

.text-pomegranate {
  color: $pomegranate;
}

.text-clouds {
  color: $clouds;
}

.text-silver {
  color: $silver;
}

.text-concrete {
  color: $concrete;
}

.text-asbestos {
  color: $asbestos;
}

.text-white {
  color: #fff;
}

.bg-turquoise {
  background: $turquoise;
}

.bg-green-sea {
  background: $green-sea;
}

.bg-emerald {
  background: $emerald;
}

.bg-nephritis {
  background: $nephritis;
}

.bg-peter-river {
  background: $peter-river;
}

.bg-belize-hole {
  background: $belize-hole;
}

.bg-amethyst {
  background: $amethyst;
}

.bg-wisteria {
  background: $wisteria;
}

.bg-wet-asphalt {
  background: $wet-asphalt;
}

.bg-midnight-blue {
  background: $midnight-blue;
}

.bg-sun-flower {
  background: $sun-flower;
}

.bg-orange {
  background: $orange;
}

.bg-carrot {
  background: $carrot;
}

.bg-pumpkin {
  background: $pumpkin;
}

.bg-alizarin {
  background: $alizarin;
}

.bg-pomegranate {
  background: $pomegranate;
}

.bg-clouds {
  background: $clouds;
}

.bg-silver {
  background: $silver;
}

.bg-concrete {
  background: $concrete;
}

.bg-asbestos {
  background: $asbestos;
}

// Background
// -------------------------

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  background-size: cover;
  @include opacity(.2);
}

// Container
// -------------------------

.container {
  position: relative;
  z-index: 2;
}

// Sections
// -------------------------

.section {
  position: relative;
  margin-bottom: $line-height-computed;
  padding: 10rem 0 7rem;
  text-align: center;

  h1, h2, .h1, .h2 {
    a {
      color: inherit;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .section-heading {
    font-size: ($font-size-base * 4.5);
  }

  h1 + h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 15px;
    font-size: ceil(($font-size-base * 1.5));
    font-weight: 200;
  }

  @media (min-width: $grid-float-breakpoint) {
    padding: 22rem 0 18rem;
    text-align: left;
  }
}

.section-inverse {
  background-color: $gray-darker;
  color: #fff;
}

.section-sm {
  @media (min-width: $grid-float-breakpoint) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.section-left {
  @media (min-width: $grid-float-breakpoint) {
    text-align: left;
  }
}

.section-lg {
  @media (min-width: $grid-float-breakpoint) {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

// Lists
// -------------------------

.list-standings {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 4em;
  display: table;
  width: 100%;

  > li:before {
    content: counter(li, decimal-leading-zero);
    counter-increment: li;
    background-color: $silver;
    text-align: center;
  }

  > li:nth-child(-n+3):before {
    background-color: $alizarin;
    color: #fff;
  }

  > li {
    display: table-row;
    text-decoration: none;
    background-color: $clouds;
  }

  > li > span, li:before {
    display: table-cell;
    padding: 0.2em 0.5em;
    border-bottom: 1px solid #fff;
  }

  > li > .list-standings-points {
    text-align: right;
  }

  > li > .list-standings-team {
    color: $concrete;

  }
}

.list-details {
  @include list-unstyled;

  > li {
    margin-bottom: 10px;
  }

  > li > span.list-details-label,
  > li > span.list-details-value {
    display: block;
  }

  > li > span.list-details-label {
    color: $concrete;
  }
}

// List segmented
// -------------------------

.list-highlight {
  display: table;
  width: 100%;
  margin: $padding-large-vertical 0;
  line-height: 38px;
  color: #fff;

  > li {
    display: table-row;
    vertical-align: middle;

    > * {
      display: table-cell;
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .flag {
    height: 38px;
    margin-bottom: $line-height-computed;
    padding: 0;
  }

  @media (min-width: $grid-float-breakpoint) {
    @extend .list-unstyled;

    > li {
      display: inline-block;
      margin-right: 20px;
    }

    > span,
    > ul,
    > ol {
      display: inline-block;
    }

    .flag {
      margin-bottom: 0;
    }
  }
}
