{% extends ':season:layout.html.twig' %}

{% set module = 'app/season/graphs' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div id="chart-user-standings" class="c3" data-url="{{ path('season_graphs_user_standings_data', { 'year': season.year }) }}"></div>
    </div>
{% endblock %}
