{% extends 'base.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'season.title'|trans({ '%year%': season.year }) }}</h1>
            <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Select a season <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for i in range(1950, 2015) %}
                        <li><a href="{{ path('season_home', { 'year': i }) }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {{ knp_menu_render('season', { 'style': 'tabs' }) }}
    </div>
{% endblock %}
