//
// Jumbotron
// --------------------------------------------------

.jumbotron {
  position: relative;
  margin: 0;
  text-align: center;

  h1 {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);
  }

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: left;
    color: #fff;
    background-color: $midnight-blue;
  }
}
