//
// Navbars
// --------------------------------------------------


// Inverse navbar

#site-navbar {
  @media (min-width: $grid-float-breakpoint) {
    background-color: $body-bg;
    border-color: $gray-lighter;

    .navbar-nav {
      > li {
        float: none;
        display: inline-block;
      }

      > li > a {
        color: $gray-light;
        border-bottom: 3px solid transparent;

        &:hover,
        &:focus {
          color: $red;
          border-bottom-color: $red;
        }
      }

      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $red;
          background-color: transparent;
          border-bottom-color: $red;
        }
      }

      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: $red;
          border-bottom-color: $red-dark;
          color: #fff;
        }
      }

    }

    .navbar-header {
      background-color: $red;
    }

    .navbar-brand {
      font-family: $headings-font-family;
      text-transform: uppercase;
      letter-spacing: .6rem;
      height: $navbar-height + 3;
      color: #fff;
      background-color: $red;
      &:hover,
      &:focus {
        background-color: $red-dark;
      }
    }
  }
}
