//
// Scaffolding
// --------------------------------------------------

body {
  text-transform: uppercase;
}

#site-footer {
  width: 100%;
  text-align: center;
  font-size: $font-size-small;

  > .container {
    padding-top: ($padding-large-vertical*2);
  }

  &,
  a {
    color: $gray-light;
  }

  .site-footer-links {
    padding: 0;
    list-style: none;

    > li {
      display: inline-block;
    }

    > li + li {
      margin-left: $padding-large-horizontal;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    text-align: left;

    .site-footer-links {
      margin: 0;
      float: right;
    }
  }
}


