//
// Scaffolding
// --------------------------------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px;

  @media (min-width: $grid-float-breakpoint) {
    margin-bottom: 60px;
  }
}

#site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-small;

  > .container {
    padding-top: ($padding-large-vertical*2);
  }

  &,
  a {
    color: $gray-light;
  }

  .site-footer-links {
    padding: 0;
    list-style: none;

    > li {
      display: inline-block;
    }

    > li + li {
      margin-left: $padding-large-horizontal;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    height: 60px;
    text-align: left;

    .site-footer-links {
      margin: 0;
      float: right;
    }
  }
}


