//
// Scaffolding
// --------------------------------------------------


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  text-align: center;
  border-top: .1rem solid $gray-lighter;
  padding-top: 20px;

  a {
    color: $text-color;
  }



  @media (min-width: $grid-float-breakpoint) {
    > .container {
      > p {
        float: left;
      }
      > nav {
        float: right;
      }
    }
  }
}
