{% extends 'base.html.twig' %}

{% set module = 'app/homepage' %}

{% block content %}
    <div id="page-header" class="section section-inverse section-lg section-header">
        <div class="container">
            <h1>{{ 'homepage.greeting'|trans }}</h1>
        </div>
    </div>
{% endblock %}
