{% extends 'base.html.twig' %}

{% set module = 'app/homepage' %}

{% block content %}

    {% if nextRace %}
        <div class="section section-inverse">
            <div class="background" style="background-image:url('{{ asset('assets/img/circuits/' ~ nextRace.circuit.slug ~ '.jpg') }}')" aria-hidden="true"></div>
            <div class="container">
                <h1>{{ 'homepage.nextRace.heading'|trans }}</h1>
                <h2 lang="en">{{ nextRace.season.year }} {{ nextRace.name }}</h2>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
        </div>
    {% else %}
        <div class="section section-inverse">
            <div class="container">
                <h1>Welcome to formula One prediction</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
        </div>
    {% endif %}

{% endblock %}
